# Machine Selection
MACHINE ?= "raspberrypi3-64"

# Default policy config
DISTRO ?= "poky"

# Package Management configuration
PACKAGE_CLASSES ?= "package_ipk"

# SDK target architecture
SDKMACHINE ?= "x86_64"

# Additional image features
USER_CLASSES ?= "image-mklibs image-prelink"

# Interactive shell configuration
PATCHRESOLVE = "noop"

# Where to place downloads
DL_DIR ?= "${TOPDIR}/../downloads"

# Where to place shared-state files
SSTATE_DIR ?= "${TOPDIR}/../sstate-cache"

# Exclude some features (save time during build)
DISTRO_FEATURES_remove = " x11 wayland vulkan 3g opengl"

# Specify license white list
LICENSE_FLAGS_WHITELIST = "commercial"

# Specify version for tracking
CONF_VERSION = "1"
